html,
body {
  /*  background: no-repeat center url("images/map.png"); */
  font-family: myFont, "Liberation Sans", sans-serif;
  min-height: 100vh;
  Padding: 0px;
  margin: 0px;
  border: 0px;
  overflow: auto;
}

.container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.1fr 1.2fr 2.4fr 1.3fr 0.1fr;
  grid-template-rows: 2.6fr 0.2fr 0.9fr 0.3fr;
  gap: px 0px;
  width: 100%;
  height: 100vh;
}

.main-svg {
  grid-area: 1 / 2 / 4 / 5;
  width: 100%;
  height: 100%;
}

.algo-step-button {
  grid-area: 2 / 5 / 3 / 6;
}

.sudo-code-button {
  grid-area: 3 / 5 / 4 / 6;
}

.algo-step {
  grid-area: 2 / 4 / 3 / 5;
}

.sudo-code {
  grid-area: 3 / 4 / 4 / 5;
}

.control-button {
  grid-area: 3 / 1 / 4 / 2;
}

.controls {
  grid-area: 3 / 2 / 4 / 3;
}