:root {
  /* color config */
  --highlighted-text: #ffed99;
  --light-blue: #C7EBFC;
  --light-green: #EAFCC5;
  --dark-green: #2A3D03;
  --pink: #FCC5EA;
  --black: #000000;
  --sudo-code-rectangle-width: 1em;
}

html,
body {
  /*  background: no-repeat center url("images/map.png"); */
  font-family: myFont, "Liberation Sans", sans-serif;
  min-height: 100vh;
  Padding: 0px;
  margin: 0px;
  border: 0px;
  overflow: auto;
}

/* link to saved grid in case it needs to be edited */
/* grid.layoutit.com?id=rsXbSgO */
.container {
  display: grid;
  grid-template-columns: 0.1fr 3.8fr 0.1fr;
  grid-template-rows: 1fr max-content max-content;
  gap: 0px 0px;
  grid-auto-flow: row;
  gap: px 0px;
  width: 100%;
  height: 100vh;
}

.middle {
  display: grid;
  grid-template-columns: 0.5fr 1.4fr max-content;
  grid-template-rows: max-content;
  gap: 0px 0px;
  grid-template-areas:
    "controls . sudo-code";
  grid-area: 2 / 2 / 3 / 3;
  z-index: 2;
}

.controls {
  grid-area: controls;
}

.sudo-code {
  grid-area: sudo-code;
  background-color: var(--light-blue);
}

.Animation-Controls {
  grid-area: 3 / 2 / 4 / 3;
}

.main-svg {
  grid-area: 1 / 1 / 3 / 4;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bottom-row {
  grid-area: 3 / 2 / 4 / 3;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  margin: 0.5em;
}

/* end of grid */

.operation-sudo-code {
  padding: 0;
  margin: 1em;
  opacity: 0;
  position: relative;
  padding-left: 1em;
}

.sudo-code-rectangle {
  position: absolute;
  /* or absolute, fixed, or sticky */
  z-index: 1;
  width: var(--sudo-code-rectangle-width);
  height: 1lh;
  background-color: var(--highlighted-text);
  left: 0;
}

.sudo-code-line {
  z-index: 2;
  position: relative;
}

#operations {
  padding: 1em;
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.operation {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;

  text-align: center;
  margin: auto;
}

.highlighted-text {
  background-color: var(--highlighted-text);
}

.green-node {
  fill: #ebfcc7;
  stroke: var(--black);
}

.node {
  stroke: var(--black);
}

/* TODO make this text easier to read */
.node-key-text {
  dominant-baseline: middle;
  text-anchor: middle;
  stroke: none;
}

/* 
triadic colors
maybe use these in ui
#ebfcc7
#fcc7eb
#C7EBFC 
*/